<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>🌟FeelAI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card-header>
    <ion-card-title class="titulo">Recommended Therapist</ion-card-title>
  </ion-card-header>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p1.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dr. Juan Pérez</h2>
          <h3>Psychotherapy specialist</h3>
          <p>Contacto: 0965342198</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p_mujer1.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dra. María Sánchez</h2>
          <h3>Psychoanalyst</h3>
          <p>Contacto: 0965342197</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p_mujer2.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dra. Rosa Gómez</h2>
          <h3>Psychologist</h3>
          <p>Contacto: 0965342196</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p2.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dr. Luis Martínez</h2>
          <h3>Psychologist</h3>
          <p>Contacto: 0965342195</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p3.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dr. Jorge Ramos</h2>
          <h3>Psychologist</h3>
          <p>Contacto: 0965342194</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p_mujer3.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dr. María Fernández</h2>
          <h3>Psychologist</h3>
          <p>Contacto: 0965342193</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <img src="assets/images/p4.jpg" alt="Therapist" class="therapist-image"/>
        <div>
          <h2>Dr. Diego Ruiz</h2>
          <h3>Psychologist</h3>
          <p>Contacto: 0965342192</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
