<ion-header>
  <ion-toolbar>
    <ion-title>🌟FeelAI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <div class="ion-padding ion-text-center">
    <img src="assets/images/frase.jpg" alt="Felicidad" class="banner-image" />
  </div>

  <ion-card class="styled-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        📖 My Diary Today
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>On a scale of 1 to 5, how do you feel today?</p>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <ion-select
          formControlName="score"
          label="You feel today?"
          placeholder="Select"
          interface="popover"
          class="select"
        >
          <ion-select-option value="1">1 😢</ion-select-option>
          <ion-select-option value="2">2 😟</ion-select-option>
          <ion-select-option value="3">3 😐</ion-select-option>
          <ion-select-option value="4">4 🙂</ion-select-option>
          <ion-select-option value="5">5 😃</ion-select-option>
        </ion-select>

        <ion-textarea
          formControlName="opinion"
          placeholder="Write in your diary..."
          class="custom-textarea"
        >
        </ion-textarea>

        <ion-button
          expand="block"
          type="submit"
          color="tertiary"
          [disabled]="!myForm.valid"
        >
          ✉️ Send
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="styled-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        🗓️ Diary Entries
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- CARGA DE DATOS - INICIO -->
        @for (datum of filteredDataList; track $index) {
        <ion-item>
          <ion-label> {{ datum?.date }} </ion-label>
          <ion-label> {{ datum?.opinion }} </ion-label>
        </ion-item>
        }
        <!-- CARGA DE DATOS - FIN  -->
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="styled-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        📊 Weekly Mood Tracker
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="chart-container">
        <canvas id="scoreChart"></canvas>
      </div>
      <div class="week-info">
        <p>Start of Week: {{ startOfWeek | date: 'shortDate' }}</p>
        <p>End of Week: {{ endOfWeek | date: 'shortDate' }}</p>
      </div>
      <p class="feedback-message">{{ feedbackMessage }}</p>
      <div
        class="week-navigation-buttons"
        style="display: flex; justify-content: space-between; margin-top: 20px"
      >
        <ion-button
          (click)="shiftToPreviousWeek()"
          expand="block"
          fill="outline"
          class="week"
        >
          Previous Week
        </ion-button>
        <ion-button
          (click)="shiftToNextWeek()"
          expand="block"
          fill="outline"
          class="week"
        >
          Next Week
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
