<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>🌟FeelAI</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- MENSAJE INICIAL - Solo se muestra si no se ha subido una imagen -->
  <ion-card *ngIf="!imageReady()">
    <ion-card-content>
      <h1 class="message">How do you feel now?❤️</h1>
      <img src="assets/images/emotions.jpg" alt="Emotions" class="emotions"/>
      <p class="submessage">Upload a photo of yourself and we will predict your emotions <br> 🔽🔽🔽</p>
    </ion-card-content>
  </ion-card>

  <!-- BOTÓN PARA SUBIR IMAGEN - Solo se muestra si no se ha subido una imagen -->
  <ion-button
    *ngIf="!imageReady()"
    class="upload-button"
    expand="block"
    (click)="fileInput.click()"
  >
    <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
    Upload Photo
  </ion-button>
  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    hidden
  />

  <!-- MOSTRAR IMAGEN SUBIDA - Solo se muestra si la imagen está lista -->
  <div *ngIf="imageReady()">
    <img #image [src]="imageUrl()" alt="Selected Image" class="img"/>
  </div>

  <!-- BOTÓN DE PREDICCIÓN - Solo se muestra si la imagen está lista -->
  <ion-button
    *ngIf="imageReady()"
    class="upload-button"
    expand="block"
    (click)="predict()"
  >
    <ion-icon slot="start" name="analytics-outline"></ion-icon>
    Predict
  </ion-button>

  <!-- RESULTADOS DE LA PREDICCIÓN -->
  <ion-card *ngIf="predictions.length > 0" class="prediction-card">
    <ion-card-header>
      <ion-card-title>Results</ion-card-title>
      <ion-card-subtitle>Prediction Results</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list color=#f0f0f0 >
        <ion-item *ngFor="let item of predictions; let i = index">
          <ion-thumbnail slot="start">
            <img
              alt="{{ item?.className }}"
              [src]="'assets/images/' + item?.className.toLowerCase() + '.png'"
              class="result-image"
            />
          </ion-thumbnail>
          <ion-label>
            <p class="result-text">
              {{ item?.className }}: {{ item?.probability | percent }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- SUGERENCIAS BASADAS EN LA PREDICCIÓN -->
  <ion-card *ngIf="topPrediction" class="suggestion-card">
    <ion-card-header>
      <ion-card-title>Suggestion✨</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ suggestions[topPrediction?.className] }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
