<ion-header>
  <ion-toolbar>
    <ion-title>🌟FeelAI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Purpose Section -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>
        🌟 Purpose
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Our goal is to offer a mobile platform that allows users to identify and better understand their emotions by using artificial intelligence through an interactive experience that helps people become aware of their emotional state.
    </ion-card-content>
  </ion-card>

  <!-- Mission Section -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>
        🎯 Mission
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Our mission is to empower people to manage and understand their emotions more effectively using advanced technology. Through precise analysis of emotions and monitoring of their evolution, promoting mental and emotional health.
    </ion-card-content>
  </ion-card>

  <!-- Members Section -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>
        👥 Team Members
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let member of members" color="transparent">
          <ion-avatar slot="start">
            <img [src]="member.photo" alt="Member photo" />
          </ion-avatar>
          <ion-label>
            <h2>{{ member.name }}</h2>
            <p>{{ member.role }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
