/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Theme variables */
  ion-content {
    --background: #ffffff; /* Fondo blanco para todas las páginas */
  }
  
  ion-toolbar {
    --background: #4d8dff; /* Fondo turquesa para los toolbars */
    --color: #ffffff; /* Color del texto en los toolbars */
  }
  
  body {
    background-color: #ffffff; /* Asegura que todo el fondo sea blanco */
  }

  ion-tabs {
    --background: #ffffff; /* Fondo blanco para el contenedor de tabs */
  }
  
  ion-tab-bar {
    --background: #ffffff; /* Fondo blanco para la barra de navegación */
    --color: #00000095; /* Color del texto y los íconos */
    --color-selected: #4ca49b; /* Color para el tab seleccionado */
  }
  
  ion-title {
    color: #231e4aba; /* Color del título de las tabs */
    font-size: 20px; /* Tamaño del título de las tabs */
    font-weight: bold; /* Estilo del título de las tabs */
  }

  ion-toolbar {
    padding: 4px;
  }
